apiVersion: v1
kind: Pod
metadata:
  name: {{ app_name }}-%ITEM
  labels:
    app.kubernetes.io/name: {{ app_name }}-%ITEM
    applicationRunning: 'opencraft2'
spec:
  restartPolicy: Never # important so that server can be stopped without making K8 recreate the pod
  containers:
  - name: {{ app_name }}
    image: {{ image }}
    ports:
      - containerPort: 7979
        name: game-port
      - containerPort: 7980
        name: deployment-port
    imagePullPolicy: Always
    resources:
      requests:
        memory: "{{ memory_req }}Mi"
        cpu: {{ cpu_req }}
    command: ["./opencraft2.x86_64", "-localConfigJson","./localconfig.json","-logFile", "./logs/opencraft2_log.txt", "-profiler-enable", "-profiler-log-file", "./logs/profiler_out.raw"]

---
apiVersion: v1
kind: Service
metadata:
  name: {{ app_name }}-service-%ITEM
spec:
  type: NodePort
  selector:
    app.kubernetes.io/name: {{ app_name }}-%ITEM
  ports:
  - name: server-service-port
    port: 7979
    nodePort: 7979
    targetPort: game-port
  - name: deployment-service-port
    port: 7980
    nodePort: 7980
    targetPort: deployment-port